#toast-root {
    position: fixed;
    z-index: 40001;
    top: 45px;
    right: 10px;
    display: flex;
    flex-direction: column;
    width: 280px;

    .toast {
        padding: 10px;
        margin-bottom: 10px;
        opacity: 0.95;
        display: flex;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        transition: opacity 0.2s;
        color: #000;
        will-change: opacity;

        &.fading {
            opacity: 0;
        }
        &:hover {
            transition-duration: 0.4s;
            opacity: 0.95;
        }
        &::before {
            font-family: icomoon;
            font-size: 30px;
            margin-right: 10px;
        }
        &.success {
            &::before {
                content: '\e959';
            }
            background-color: #51ee6e;
        }
        &.info {
            &::before {
                content: '\e957';
            }
            background-color: #7bc6e6;
        }
        &.warning {
            &::before {
                content: '\e956';
            }
            background-color: #ffa819;
        }
        &.error {
            &::before {
                content: '\e955';
            }
            background-color: #f05b5d;
        }
        h3 {
            color: #000;
            font-size: 1.15em;
            line-height: 1em;
            margin: 0 0 5px 0;
        }
        p {
            margin: 0;
        }
    }
}